__pycache__/
*.pyc
.env
chroma_data/
db.sqlite3
*.log
.DS_Store
staticfiles/
env/
venv1/
/Voice-bot/recovery_agent/__pycache__/
/Voice-bot/__pycache__/
/Voice-bot/services/__pycache__/
/Voice-bot/config/__pycache__/
/Voice-bot/recovery_agent/__pycache__/
/Voice-bot/recovery_agent/services/__pycache__/
models/
Data/
*.zip