audioop_lts==0.2.2
certifi==2026.7.22
channels==4.3.2
chromadb==1.5.9
Django==6.1
djangorestframework==3.17.1
greenswitch==0.0.19
httpx==0.28.1
huggingface_hub==0.36.2
joblib==1.5.3
murf==2.3.0
nltk==3.10.3
numpy==2.5.2
onnxruntime==1.28.0
openai==3.5.0
optimum==2.1.0
optimum_onnx==0.1.0
pandas==3.0.5
plivo==4.62.0
protobuf==7.36.0
pydantic==2.13.5
pydub==0.25.1
redis==8.1.0
Requests==2.34.2
scikit_learn==1.9.0
scipy==1.18.1
sentence_transformers==5.6.1
sounddevice==0.5.5
torch==2.13.0
transformers==4.57.6
websocket_client==1.9.0
websockets==16.1.1